@use "sass:map";
@import "styles/pages/theme";
@import "styles/pages/all";


.order {
    background: #fff;
    border-radius: 8px;

    h2 {
        margin-bottom: 30px;
        color: map.get($theme-color, "nol-text");

    }

    &-content {
        margin-bottom: 30px;
    }

    &-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    th,
    td {
        text-align: center;
        vertical-align: middle;
    }

    &__page-number {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &-pagination {
        display: flex;
        gap: 6px;
        margin-bottom: 30px;
    }

    &__page-btn {
        height: 36px;
        min-width: 36px;
        padding: 0 12px;
        font-size: 14px;
        color: map.get($theme-color, "main");
        background-color: #3182ce14;
        border: 1px solid map.get($theme-color, "main");
        border-radius: 8px;

        &:hover:not(&--active) {
            color: #fff;
            background-color: map.get($theme-color, "main");
        }

        &--active {
            color: #fff;
            background-color: map.get($theme-color, "main");
            border-color: map.get($theme-color, "main");
        }
    }

    &-dropdown {
        position: relative;
        min-width: 150px;
        display: flex;
        justify-content: center;

        &__list {
            position: absolute;
            top: calc(100%);
            // right: 0;
            background: #fff;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            min-width: 150px;
            z-index: 1;
        }

        &__item {
            width: 100%;
            padding: 10px 18px;
            font-size: 14px;
            background: none;
            color: map.get($theme-color, "nol-text");
            border: none;
            text-align: left;
            display: block;
            cursor: pointer;

            &:hover {
                background: #f5f5f5;
            }

            &--danger {
                color: red;

                &:hover {
                    background: #ffebee;
                }
            }
        }

    }

    &-action__btn {
        height: 36px;
        padding: 0 18px;
        font-size: 14px;
        color: map.get($theme-color, "nol-text");
        background: #fff;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 4px;
        min-width: 150px;

        svg {}

        &:hover {
            background: #f5f5f5;
        }
    }

    &-dropdown__arrow {
        display: flex;
        align-items: center;
        font-size: 18px;
        transition: transform 0.2 ease;
    }
}