@use "sass:map";
@import "styles/pages/theme";

.footer {
    background: #f3f6fa;
    padding-top: 70px;
    padding-bottom: 0;

    .footer__about {
        margin-bottom: 30px;

        .footer__about-logo {
            display: inline-block;
            margin-bottom: 15px;
            // font-size: 15px;
        }

        ul li {
            font-size: 14px;
            color: map.get($theme-color, "nol-text");
            line-height: 30px;
            list-style: none;
        }

    }

    .footer__widget {
        margin-bottom: 30px;
        overflow: hidden;


        h6 {
            color: map.get($theme-color, "nol-text");
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
        }

        ul {
            float: left;
            width: 50%;

            li {
                list-style: none;

                a {
                    color: map.get($theme-color, "nol-text");
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 32px;
                    // margin-bottom: 10px;
                }
            }
        }

        p {
            color: map.get($theme-color, "nol-text");
            font-size: 14px;
            margin-bottom: 30px;
        }

        form {
            // position: relative;
            margin-bottom: 30px;

            .input-group {
                display: flex;
                align-items: center;
            }

            input {
                width: 90%;
                font-size: 16px;
                padding-left: 20px;
                color: map.get($theme-color, "nol-text");
                height: 46px;
                border: 1px, solid, #ededed;


                ::placeholder {
                    color: map.get($theme-color, "nol-text");
                }
            }

            button {
                // position: absolute;
                right: 0;
                top: 0;
                padding: 0 26px;
                height: 46px;
            }
        }
    }

    .footer__widget-social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;

        div {
            :hover {
                background: map.get($theme-color, "main");
                color: #fff;
                border-color: #fff;
            }

            svg {
                font-size: 20px;
                padding: 10px;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                transition: all 0.3s;
                background: #fff;
                cursor: pointer;

            }
        }
    }
}