@use "sass:map";
@import "styles/pages/theme";

.hero-carousel {
    max-width: 1125px !important;
    margin-top: 50px !important;

    .hero-carousel__list {

        .hero-carousel__list-item {
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            border-radius: 5px;

            p {
                position: absolute;
                left: 15%;
                text-align: center;
                bottom: 20px;
                font-size: 12px;
                text-align: center;
                color: map.get($theme-color, "nol-text");
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 0 10px;
                width: 200px;
                cursor: pointer;
                background: rgb(237, 237, 237);

                &:hover {
                    background: rgb(201, 201, 201);
                }
            }
        }
    }
}

.featured {
    margin-top: 50px;

    .section-title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            position: relative;
        }

        h2:after {
            position: absolute;
            right: 0;
            left: 0;
            bottom: -10px;
            height: 2px;
            width: 100px;
            background: map.get($theme-color, "main");
            content: "";
            margin: 0 auto;
        }
    }

    .react-tabs {
        ul {
            display: flex;
            // flex-direction: row;
            list-style-type: none;
            justify-content: center;
            margin: 50px 0;

        }

        li {
            font-size: 18px;
            color: map.get($theme-color, "nol-text");
            margin-right: 20px;
            display: inline-block;
            position: relative;
            cursor: pointer;
        }
    }

    .featured__item {
        margin: 0 10px 50px;

        &:hover {
            .item-picture__hover {
                bottom: -15% !important;
            }
        }

        .featured__item-picture {
            position: relative;
            // width: 100%;
            height: 270px;
            background-size: cover;
            background-position: center;
            overflow: hidden;

            .item-picture__hover {
                position: absolute;
                left: 0;
                bottom: -40%;
                width: 100%;
                transition: all 0.5s;
                text-align: center;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;
                    // text-align: center;

                    &:hover {
                        svg {
                            background: rgba(237, 237, 237, 0.7);
                            color: #000;
                        }
                    }

                    svg {
                        padding: 10px;
                        height: 20px;
                        width: 90px;
                        background: rgba(10, 10, 10, 0.7);
                        border: 1 solid #ededed;
                        color: #fff;
                        transition: all 0.5s;
                    }
                }
            }
        }


        .featured__item-text {

            h6 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;

                a {
                    color: map.get($theme-color, "nol-text");
                    text-decoration: none;
                }
            }

            h5 {
                // margin-top: 4px;
                font-size: 14px;
                font-weight: 500;
                color: #aaa;
            }
        }
    }
}