@use "sass:map";
@import "styles/pages/theme";
@import "styles/pages/all";

$bannerImg: "/assets/users/banner2.png";

.header__navbar {
    position: fixed;
    width: 300px;
    background: #fff;
    height: 100%;
    overflow: auto;
    padding: 30px;
    padding-top: 50px;
    display: block;
    // transition: all 0.2s;
    z-index: -9999;
    opacity: 0;

    &.show {
        z-index: 9999;
        opacity: 1;
    }

    .header__navbar-cart {
        display: flex;
        margin: 25px 0;

        .navbar__menu-price {
            font-size: 16px;
            color: #6f6f6f;

            span {
                font-weight: 700;
                color: map.get($theme-color, "bold-text");
            }
        }

        ul {
            list-style-type: none;
            display: inline-block;
            margin-right: 16px;

            li {
                position: relative;

                a {
                    font-size: 24px;
                    color: map.get($theme-color, "nol-text");

                    span {
                        color: map.get($theme-color, "main");
                        background: #f5f5f5;
                        height: 20px;
                        left: 10px;
                        top: -10px;
                        border-radius: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 20px;
                        font-size: 14px;
                        position: absolute;
                        padding: 0 7px;
                        font-weight: 500;
                    }
                }
            }

            li:last-child {
                // margin-right: 0;
            }
        }
    }

}

.header__navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    visibility: hidden;
    // transform: all 0.2s;

    &.active {
        visibility: visible !important;
    }
}

.header__navbar-widget {
    margin-bottom: 20px;

    .header__right-auth a {
        display: flex;
        // align-items: center;
        gap: 6px;
        // padding: 10px;
        font-size: 16px;
        // background: red;
        // height: 24px;
        // width: 100px;
        color: map.get($theme-color, "nol-text");
        text-decoration: none;

    }
}

.header__navbar-menu {
    margin-bottom: 20px;

    ul {
        list-style: none;

        li {
            // text-decoration: none;
            padding: 8px 0;
            border-bottom: 1px solid #e1e1e1;

            a {
                color: map.get($theme-color, "nol-text");
                text-decoration: none;
                font-size: 16px;
                // font-weight: 500;

                svg {
                    vertical-align: middle;
                    margin-left: 6px;
                }
            }
        }
    }

    .submenu-down {
        display: none;
        padding: 5px 0;


        li {
            margin-left: 10px;
            display: block;
            margin-right: 0;

            &:last-child {
                border-bottom: unset;
            }
        }

    }

    .submenu-show {
        display: block;
    }
}

.header__navbar-social {
    margin-bottom: 20px;

    ul {
        display: flex;
        list-style: none;
        gap: 10px;

        li {
            text-decoration: none;

            svg {
                font-size: 20px;
                color: map.get($theme-color, "nol-text");
            }
        }
    }
}

.header__navbar-contact {
    ul li {
        list-style: none;
        margin-bottom: 10px;

        svg {
            font-size: 20px;
            color: map.get($theme-color, "nol-text");
            vertical-align: middle;
            margin-right: 6px;
        }
    }
}

.header__top {
    background: #f5f5f5;
}

.header__top-right {
    display: flex;
    align-items: center;
    justify-content: end;

    ul {
        display: flex;
        align-items: center;
        column-gap: 12px;
        list-style-type: none;

        li:last-child {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 15px;

            span {
                font-size: 14px;
                margin-left: 6px;
            }
        }

        a {
            font-size: 18px;
            display: flex;
            color: map.get($theme-color, "nol-text");
        }
    }
}

.header__top-left {

    ul {
        display: flex;
        align-items: center;
        padding: 10px 0 13px;
        list-style-type: none;
        column-gap: 20px;

        li {
            font-size: 14px;
            display: flex;
            align-items: center;
            column-gap: 4px;
            color: map.get($theme-color, "nol-text");
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 22px;
                width: 1px;
                background: #000;
                opacity: 0.2;
                content: "";
            }
        }
    }
}

.header__logo {
    padding: 15px 0;
}

.header__menu {
    padding: 24px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;
            position: relative;

            a {
                text-decoration: none;
                font-size: 16px;
                color: map.get($theme-color, "bold-text");
                text-transform: uppercase;
                font-weight: 400;
                transition: all, 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header__submenu {
            opacity: 1;
            visibility: visible;
        }

        .active a {
            color: map.get($theme-color, "main");
        }

        .header__submenu {
            background: oklch(0.869 0.022 252.894);
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li {

                a {
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    padding: 10px 10px;
                }

                :hover {
                    color: map.get($theme-color, "main");
                }
            }
        }
    }
}

.header__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0;

    ul {
        display: flex;
        // margin-right: 25px;

        li {
            list-style-type: none;
            position: relative;
            margin-left: 16px;

            svg {
                font-size: 28px;
                color: map.get($theme-color, "nol-text");
            }

            span {
                color: map.get($theme-color, "main");
                background: #f5f5f5;
                position: absolute;
                height: 16px;
                width: 26px;
                border-radius: 45%;
                display: inline-block;
                text-align: center;
                line-height: 17px;
                font-size: 10px;
                font-weight: 500;
                left: 12px;
                top: -5px;
            }
        }
    }
}

.categories__hero-container {
    // position: relative;
    display: flex;
    flex-direction: column;



    .categories__hero-title {
        background: map.get($theme-color, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        user-select: none;


        svg,
        span {
            font-size: 16px;
            margin-right: 5px;
        }

        svg {
            font-size: 20px;
            padding-right: 5px;

        }
    }

    ul {
        // position: absolute;
        // width: 99.5%;
        opacity: 1;
        border: 1px solid #ebebeb;
        background-color: #fff;
        transition: all 0.3s;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: map.get($theme-color, "nol-text");
                line-height: 42px;
                display: block;
                padding-left: 40px;
                text-transform: uppercase;
                user-select: none;
            }

            &:hover {
                background: #f7ffff;

                a {
                    color: map.get($theme-color, "main")
                }
            }
        }

        &.hidden {
            opacity: 0;
        }
    }
}

.categories__search-container {

    .categories__search {
        display: flex;
        margin-bottom: 15px;

        .categories__search-form {
            width: 610px;
            height: 50px;
            padding-left: 15px;

            form {
                display: flex;
                align-items: center;
            }

            input {
                border: none;
                height: 48px;
                font-size: 16px;
                color: #b2b2b2;
                padding-left: 20px;
                border: 1px solid #ebebeb;
                width: 70%;

                :focus {
                    outline: none;
                    border: none;
                }
            }

            button {
                font-size: 14px;
                color: white;
                font-weight: 800;
                text-transform: uppercase;
                display: inline-block;
                padding: 16px 30px 17px;
                background: map.get($theme-color, "main");
                border: none;
                height: 100%;
                cursor: pointer;

            }
        }

        .categories__search-phone {
            display: flex;
            align-items: center;

            .search__phone-icon {
                font-size: 26px;
                padding: 10px;
                background: #f5f5f5;
                line-height: 10px;
                text-align: center;
                border-radius: 50%;
                float: left;
                justify-content: center;
                align-items: center;
                color: map.get($theme-color, "main");
            }

            .search__phone-text {
                display: inline-block;
                margin-left: 6px;

                p {
                    // font-size: 16px;
                    color: map.get($theme-color, "nol-text");
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                span {
                    color: #6f6f6f;
                    font-size: 14px;
                }
            }
        }
    }


    .categories__item {
        background-image: url($bannerImg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        height: 500px;
        margin-left: 15px;
        // width: 100%;

        .categories__item-text {
            padding-left: 60px;

            span {
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 4px;
                color: map.get($theme-color, "main");
            }

            h2 {
                font-size: 34px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: white;
                line-height: 42px;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                color: #dcdcdc;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
                letter-spacing: 2px;

            }

            button {
                display: inline-block;
                letter-spacing: 2px;
            }
        }
    }

}

@include Responsive($TABLET_DEVICE) {

    .categories__hero-container {
        margin-bottom: 30px;
    }

    .categories__search-container {
        .categories__search {
            .categories__search-form {
                padding-left: unset;
            }
        }
    }

    .categories__item {
        margin-left: unset !important;
    }

    .header__logo {
        width: max-content;
    }

    .header__top,
    .header__menu,
    .header__cart {
        display: none !important;
    }

    .menu__open {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        svg {
            font-size: 30px;
            color: map.get($theme-color, "nol-text");
        }
    }


}

@include Responsive($WIDE_DEVICE) {

    .categories__hero-container {
        margin-bottom: 30px;
    }

    .categories__search-container {
        .categories__search {
            .categories__search-form {
                padding-left: unset;
                margin-right: 10px;
                width: 350px;
            }
        }
    }

    .categories__search-form {}

    .categories__item {
        margin-left: unset !important;
    }

    .header__logo {
        width: max-content;
    }

    .header__top,
    .header__menu,
    .header__cart {
        display: none !important;
    }

    .menu__open {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        svg {
            font-size: 30px;
            color: map.get($theme-color, "nol-text");
        }
    }

    .banner_container {
        display: flex;
        flex-direction: column !important;

        .banner {
            width: 100%;
        }
    }
}

@include Responsive($SMALL_DEVICE) {
    .categories__search-container {
        .categories__search {
            display: grid;

            .categories__search-form {
                padding-left: unset;
                margin-right: 10px;
                margin-bottom: 20px;
                width: 350px;
            }
        }
    }

    .react-multi-carousel-track {
        li {
            width: 350px !important;
        }
    }

    .banner_container {
        display: flex;
        flex-direction: column !important;

        .banner {
            width: 100%;
        }
    }
}