@use "sass:map";
@import "styles/pages/theme";

.header__top {
    background: #f5f5f5;
}

.header__top-right {
    display: flex;
    align-items: center;
    justify-content: end;

    ul {
        display: flex;
        align-items: center;
        column-gap: 12px;
        list-style-type: none;

        li:last-child {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 15px;

            span {
                font-size: 14px;
                margin-left: 6px;
            }
        }

        a {
            font-size: 18px;
            display: flex;
            color: map.get($theme-color, "nol-text");
        }
    }
}

.header__top-left {

    ul {
        display: flex;
        align-items: center;
        padding: 10px 0 13px;
        list-style-type: none;
        column-gap: 20px;

        li {
            font-size: 14px;
            display: flex;
            align-items: center;
            column-gap: 4px;
            color: map.get($theme-color, "nol-text");
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 22px;
                width: 1px;
                background: #000;
                opacity: 0.2;
                content: "";
            }
        }
    }
}

.header__logo {
    padding: 15px 0;
}

.header__menu {
    padding: 24px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;
            position: relative;

            a {
                text-decoration: none;
                font-size: 16px;
                color: map.get($theme-color, "bold-text");
                text-transform: uppercase;
                font-weight: 400;
                transition: all, 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header__submenu {
            opacity: 1;
            visibility: visible;
        }

        .active a {
            color: map.get($theme-color, "main");
        }

        .header__submenu {
            background: oklch(0.869 0.022 252.894);
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li {

                a {
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    padding: 10px 10px;
                }

                :hover {
                    color: map.get($theme-color, "main");
                }
            }
        }
    }
}

.header__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0;

    ul {
        display: flex;
        // margin-right: 25px;

        li {
            list-style-type: none;
            position: relative;
            margin-left: 16px;

            svg {
                font-size: 28px;
                color: map.get($theme-color, "nol-text");
            }

            span {
                color: map.get($theme-color, "main");
                background: #f5f5f5;
                position: absolute;
                height: 16px;
                width: 26px;
                border-radius: 45%;
                display: inline-block;
                text-align: center;
                line-height: 17px;
                font-size: 10px;
                font-weight: 500;
                left: 12px;
                top: -5px;
            }
        }
    }
}